/*GENERAL*/

body {
    font-family: sans-serif;
    font-size: 1em
}

a {
    color: inherit;
    text-decoration: inherit;
}

main {
    margin: auto;
    width: 95%;
}


/*NAV, FOOTER ON ALL PAGES*/

nav {
    text-align: center;
}


h1.logo {
    color: white;
    background: black;
    font-weight: 900;
    font-size: 5em;
    text-align: center;
    padding: 14px;
}


li.menu-item {
    color: white;
    background: lightgrey;
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: 900;
    font-size: 3em;
}

footer {
    background: black;
    color: white;
    font-size: 10px
    font-weight: bold;
    text-align: center;
    padding: 16px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
}

/*CONTENT*/

header.body-header {
    font-size: 2em;
    background-color: #ef7575;
    margin-top: 14px;
    margin-bottom: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.body-item {
    background: #75efe9;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 14px;
}

span.num-contacts {
    font-weight: 900;
    border-bottom: 5px solid #75efe9;
    border-bottom: 3px solid #75efe9;
}

li.contact-email {
    display: inline;
    font-size: 22px;
    font-weight: 900;
    color: white
}

li.contact-name {
    display: inline;
    font-size: 27px;
    font-weight: 900;
}

li.contact-note {
    padding: 10px;
}

.contact.info {
    background: #75efe9;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 14px;
}

li.contact-name {

}

li.contact-sub {
    padding-top: 4px;
    font-size: 14px;
}

span.contact-option {
    color: blue;
    text-decoration: underline;
}

li.contact-sub {
    padding-top: 4px;
    font-size: 14px;
}


form {
    display: inline;
}

input[type="submit"] {
    position: relative;
    left:%;
    padding: 12px;
    font-size: 34px;
}

button {
    position: relative;
    padding: 12px;
    font-size: 33px;
}

